body {
    margin: 0;
    padding: 0;
    background-color: #dfe1eb;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.info {
    width: 80%;
    text-align: center;
    background-color: #dfe1eb;
    color: black;
    font-size: 20px;
    line-height: 1.42857143;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    background-repeat: repeat;
    word-spacing: 3px;
}

.container {
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container > h1 {
    text-align: center;
    color: black;
    font-size: 27px;
    line-height: 1.42857143;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    word-spacing: 3px;
}

.tryButton {
    margin-top: 30px;
    padding: 0px 30px ;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 100vw;
    font-size: 20px;
    border-color: #005815;
    background-image: radial-gradient(circle at center, #00a326 0%, #005815 40% );
    color: rgb(255, 255, 255);
}

.tryButton:hover {
    border-color: #00a326;
    background-image: radial-gradient(circle at center, #005815 0%, #00a326 80% );
    cursor: pointer;
}

.heading {
    font-size: 50px;
    font-style: normal;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    color: #25316D;
    text-align: center;
}

