html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
}

.info {
    width: 80%;
    text-align: center;
    color: #e4e4e4;
    font-size: 20px;
    line-height: 1.42857143;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    word-spacing: 3px;
}

.container {
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tryButton {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #2b2b2b;
    border-radius: 100vw;
    font-size: 15px;
    background-color: #ffbe0b;
    box-shadow: 0px 0px 10px 0px #ffbe0b;
    padding: 5px 30px 5px 30px;
}

.tryButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #ffbe0b;
}

.heading {
    text-shadow: 2px 2px 20px #ffbe0b;
    color: #ffbe0b;
}

.headingSub {
    text-shadow: 2px 2px 20px #e4e4e4;
    color: #e4e4e4;
}