@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#292929, #494949);
}

.counter {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 8rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
    animation: counter 1s linear infinite;
}

#counter.big {
    display: none;
    font-family: 'Bungee Spice', cursive;
    padding-top: 40%;
    text-size-adjust: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bold {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 15px;
}

#predictionContainer {
    position: relative;
}

.emotionContainer {
    display: flex;
    justify-content: right;
    height: 15px;
    margin-bottom: 15px;
}

.emotionsButton {
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
    border-radius: 100vw;
    border-width: 1px;
    border-style: solid;
    border-color: #192453;
    color: white;
    background-color: #25316D;
    text-shadow: 0px 0px 5px rgb(66, 66, 66),
        0px 0px 5px rgb(255, 255, 255);
}

.cambutton {
    width: 100%;
    height: 100%;
    background: radial-gradient(#324ab5, #121835);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.cambutton:hover {
    opacity: 0.9;
}

#canvasContainer {
    width: 240px;
    height: 160px;
    border: 4px solid #192453;
    cursor: pointer;
    background-color: white;
}

.cambutton>p {
    font-size: 20px;
    font-family: "Oswald";
    color: white;
    cursor: pointer;
}

.invis {
    display: none;
}

#webcam {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #121835;
    z-index: 5;
}

#webcamContainer {
    position: absolute;
    margin-right: 18px;
    margin-top: 10px;
    width: 240px;
    height: 160px;
    top: 0;
    right: 0;
    z-index: 1;
}

#gameBoard {
    display: none;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 750px;
    border: 2px solid #ffbe0b;
    box-shadow: 0px 0px 20px 0px #ffbe0b;
    background-color: rgb(216, 216, 216);
    z-index: -1;
}

#resetContainer {
    display: none;
}

#camCanvas {
    position: absolute;
    width: 240px;
    height: 160px;
    top: 4px;
    left: 4px;
}

#webcamContainer>p {
    text-align: right;
}

#gameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBoard {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#centerScore {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#centerBoard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboardContainer {
    width: 750px;
    height: 750px;
    border: 2px solid #ffbe0b;
    background-color: rgb(216, 216, 216);
    box-shadow: 0px 0px 20px 0px #ffbe0b;
}

#startContainer {
    width: 750px;
    height: 750px;
    display: grid;
    grid-template-columns: auto;
}

#gridScoreEmotions {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

#picEmotContainer {
    width: 240px;
    height: 160px;
    border-radius: 10px;
    box-shadow: inset 4px 4px 5px -1px rgb(147, 147, 147),
        inset -4px -4px 10px -1px rgb(255, 255, 255);

}

#scoreEmotContainer {
    padding: 15px 15px 0px 15px;
    border-radius: 10px;
    box-shadow: inset 4px 4px 5px -1px rgb(147, 147, 147),
        inset -4px -4px 10px -1px rgb(255, 255, 255);
}

#resetContainer {
    width: 750px;
    height: 750px;
    display: none;
    grid-template-columns: auto;
}

#webCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#scoreEmotContainer>.emotionContainer {
    justify-content: left;
    align-items: center;
}

#gridHeader {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bungee Spice";
    text-shadow: 2px 2px 2px rgb(66, 66, 66),
        -2px -2px 2px rgb(255, 255, 255);
    font-size: 70px;
}


#gridInstructions {
    height: 250px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;

}

#gridInstructions>p:nth-child(odd) {

    font-weight: bold;
    font-size: 30px;
    color: #3d3d3d;
    text-shadow: 0px 0px 1px rgb(66, 66, 66),
        0px 0px 1px rgb(255, 255, 255);

}

#gridInstructions>p:nth-child(even) {

    font-weight: bold;
    font-size: 20px;
    color: #505050;
    text-shadow: 0px 0px 1px rgb(66, 66, 66),
        0px 0px 1px rgb(255, 255, 255);

}

.boldspan {
    font-weight: bold;
    color: #DF6000;
}

#gridBody {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    padding: 10px 30px 10px 30px;
    vertical-align: baseline;
    border-radius: 100vw;
    background: rgb(216, 216, 216);
    font-weight: bold;
    font-size: 50px;
    border: none;
    box-shadow: 4px 4px 5px -1px rgb(147, 147, 147),
        -4px -4px 10px -1px rgb(255, 255, 255);
    transition: box-shadow 5s ease-in-out;
}

.buttons:hover {
    background: rgb(216, 216, 216);
    box-shadow: inset 4px 4px 5px -1px rgb(147, 147, 147),
        inset -4px -4px 10px -1px rgb(255, 255, 255);
}

.text {
    font-family: "Bungee Spice";
    font-size: 30px;
    text-align: center;
    resize: none;
    height: 50px;
    width: 350px;
    overflow: hidden;
    color: #25316D;
    text-shadow: 2px 2px 2px rgb(66, 66, 66),
        -2px -2px 2px rgb(255, 255, 255);
}

.play {
    color: #ffbe0b;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(66, 66, 66),
        -1px -1px 1px rgb(255, 255, 255);
}

.resetBoard {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bungee Spice";
    text-shadow: 2px 2px 2px rgb(66, 66, 66),
        -2px -2px 2px rgb(255, 255, 255);
    font-size: 70px;

}


.reset {
    color: #258028;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(66, 66, 66),
        -1px -1px 1px rgb(255, 255, 255);
}

#scoreText {
    padding: 30px;
    border-radius: 100vw;
    background-color: rgb(216, 216, 216);
    color: rgb(183, 183, 183);
    font-family: "Bungee Spice", cursive;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(66, 66, 66),
        -2px -2px 2px rgb(255, 255, 255);
    box-shadow: inset 4px 4px 5px -1px rgb(147, 147, 147),
        inset -4px -4px 10px -1px rgb(255, 255, 255);
}

.wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 755px;
    height: 750px;
    background: radial-gradient(#c4cbec, #5a5e73);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards,
.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    padding: 0px;
    margin: 0px;
    height: 745px;
    width: 745px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.card .view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
}

.card .front-view img {
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

.card .back-view img {
    max-height: 50%;
    max-width: 50%;
}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    .cards {
        height: 350px;
        width: 350px;
    }

    .card .front-view img {
        width: 17px;
    }

    .card .back-view img {
        max-width: 40px;
    }
}

@media screen and (max-width: 530px) {
    .cards {
        height: 300px;
        width: 300px;
    }

    .card .front-view img {
        width: 15px;
    }

    .card .back-view img {
        max-width: 35px;
    }
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    font-family: "Bungee Spice", cursive;
    text-shadow: 2px 2px 2px rgb(66, 66, 66),
        -2px -2px 2px rgb(255, 255, 255);
}

.details {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 0 20px;
    border-radius: 7px;
    background: #fff;
    height: calc(100% / 4 - 30px);
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.details p {
    font-size: 18px;
    height: 17px;
    padding-right: 18px;
    border-right: 1px solid #ccc;
}

.details p span {
    margin-left: 8px;
}

.details p b {
    font-weight: 500;
}

.details button {
    cursor: pointer;
    font-size: 14px;
    color: #6563ff;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #6563ff;
    transition: 0.3s ease;
}

.details button:hover {
    color: #fff;
    background: #6563ff;
}