/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 20px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #292929;
}

#gameContainer {
  animation: ease-in 3s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#centerBoard {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameboardContainer {

  width: 750px;
  height: 750px;
  border: 2px solid #ffbe0b;
  background-color: rgb(216, 216, 216);
  box-shadow: 0px 0px 20px 0px #ffbe0b;

}

.gridHeader {
  margin: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bungee Spice";
  text-shadow: 2px 2px 2px rgb(66, 66, 66),
    -2px -2px 2px rgb(255, 255, 255);
  font-size: 70px;
}

.gridText {
  font-family: "Oswald";
  margin: -20px;
  padding: 50px;
  text-shadow: 2px 2px 2px rgb(255, 255, 255),
    -2px -2px 2px rgb(255, 255, 255);
  text-size-adjust: 100%;
}


.buttons {
  padding: 10px 30px 10px 30px;
  vertical-align: baseline;
  border-radius: 100vw;
  background: rgb(216, 216, 216);
  font-weight: bold;
  font-size: 50px;
  border: none;
  box-shadow: 4px 4px 5px -1px rgb(147, 147, 147),
    -4px -4px 10px -1px rgb(255, 255, 255);
  transition: box-shadow 5s ease-in-out;
}

.buttons:hover {
  background: rgb(216, 216, 216);
  box-shadow: inset 4px 4px 5px -1px rgb(147, 147, 147),
    inset -4px -4px 10px -1px rgb(255, 255, 255);
}

.text {
  font-family: "Bungee Spice";
  font-size: 30px;
  text-align: center;
  resize: none;
  height: 50px;
  width: 350px;
  overflow: hidden;
  color: #25316D;
  text-shadow: 2px 2px 2px rgb(66, 66, 66),
    -2px -2px 2px rgb(255, 255, 255);
}

.play {
  color: #258028;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgb(66, 66, 66),
    -1px -1px 1px rgb(255, 255, 255);
}

#gridInstructions {
  height: 250px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;

}

#gridBody {
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#next {
  display: none;
}

.dot {
  position: absolute;
  margin: 0;
  height: 225px;
  width: 225px;
  background-color: #292929;
  border-radius: 50%;
  display: inline-block;
  z-index: 100000;
  top: 0;
  left: 0;
}
::selection {
  color: #fff;
  background: #6563ff;
}

.wrapper {
  height: 850px;
  width: 850px;
  padding: 25px;
  background: #ffbe0b;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards,
.card,
.view,
.details,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time,
p {
  font-family: "Bungee";
}

span {
  font-family: "Bungee";
  color: #ffbe0b;
}
.cards {
  height: 800px;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.cards .card .view {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card .front-view img {
  width: 50%;
  height: 50%;
    border-radius: 7px;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  width: 50%;
  height: 50%;
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.details {
  width: 100%;
  height: 100px;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.details p {
  font-size: 18px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}

.details p span {
  margin-left: 8px;
}

.details p b {
  font-weight: 500;
}

.details button {
  cursor: pointer;
  font-size: 14px;
  color: black;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid #ffbe0b;
  transition: 0.3s ease;
}

.details button:hover {
  color: #fff;
  background: #ffbe0b;
}

@media screen and (max-width: 700px) {
  .cards {
    height: 350px;
    width: 350px;
  }

  .card .front-view img {
    max-width: 160px;
  }

  .card .back-view img {
    max-width: 100px;
  }
}

@media screen and (max-width: 530px) {
  .cards {
    height: 300px;
    width: 300px;
  }

  .card .back-view img {
    max-width: 100px;
  }

  .details {
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }

  .details p {
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }

  .details button {
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #ffbe0b;
    }
    }
    
    
    
    .wait {
      display: none;
      -webkit-animation: breathing 2s ease-out infinite normal;
      animation: breathing 2s ease-out infinite normal;
      -webkit-font-smoothing: antialiased;
      padding: 12px;
      margin: 50px auto;
      font-size: 150px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-style: normal;
      font-family: 'Oswald';
      color: #ffbe0b;
      text-shadow: 2px 2px 20px #ffbe0b;
    }
    
    @-webkit-keyframes breathing {
      0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    
      25% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    
      60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    
      100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
    
    @keyframes breathing {
      0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    
      25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    
      60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    
      100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
    
    .counter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Bungee Spice', cursive;
      font-size: 8rem;
      color: #fff;
      text-shadow: 0 0 10px #000;
      animation: counter 1s linear infinite;
    }
#counter.big {
  display: none;
  font-family: 'Bungee Spice', cursive;
  text-size-adjust: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}