html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
}

.banner {
    width: 100%;
}

.banner>h1 {
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-family: 'Oswald';
    color: #ffbe0b;
    text-shadow: 2px 2px 20px #ffbe0b;
}

.banner>h2 {
    font-size: 20px;
    color: #e4e4e4;
    font-family: 'Oswald';
    text-align: center;
}

.banner>p {
    text-align: center;
    color: #b3b3b3;
    font-family: 'Oswald';
    font-size: 18px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tryButton {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #2b2b2b;
    font-family: 'Oswald';
    border-radius: 100vw;
    font-size: 15px;
    background-color: #ffbe0b;
    box-shadow: 0px 0px 10px 0px #ffbe0b;
    padding: 5px 30px 5px 30px;
}

.tryButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #ffbe0b;
}